<section id = "about">
    <div class="pt-36">
        <div class="absolute right-[-7%] top-[%] -z-10 h-1/6 w-1/6 rounded-full bg-blue blur-[5em] xl:blur-[10em]"></div>
        <div class="mx-auto px-6 max-w-6xl text-gray-500 z-10">
            <div class="text-center">
                <h2 class="text-3xl text-gray-950 dark:text-primary font-semibold">Quickstart with boilerplates</h2>
                <p class="mt-6 text-gray-700 dark:text-gray">Harum quae dolore inventore repudiandae? Corrupti aut temporibus veritatis.</p>
            </div>
            <div class="mt-12 grid sm:grid-cols-2 lg:grid-cols-3 gap-10">
                <div style="border-width: 0.3px; border-color: #44444499;; padding-left: 50px; padding-right: 50px;" class="relative group overflow-hidden py-10 rounded-2xl bg-[--card-dark-bg]">
    <div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/4 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue to-blue dark:from-blue dark:to-blue blur-2xl opacity-25 dark:opacity-5 dark:group-hover:opacity-20"></div>
    <div class="relative">
        <h2 class="text-3xl mt-2 font-bold text-gray-900 md:text-3xl dark:text-gray-700">Employee <br>affairs</h2>
        <div class="mt-14  rounded-b-[--card-border-radius]">
            <p class="text-gray-700 dark:text-gray">
                Attendance recording, contract management, 
                and employee performance tracking are fundamental components of 
                human resource management and daily business organization for 
                companies. The Inveep Platform offers unique advantages that 
                seamlessly integrate these processes effectively
            </p>
        </div>
    </div>
</div>
                <!------------------------------------------------------------------>
                <div style="border-width: 0.3px;border-color: #44444499; padding-left: 50px;padding-right: 50px;" class="relative group overflow-hidden  py-10 rounded-2xl bg-white dark:bg-[--card-dark-bg]">
                    <div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/4 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue to-blue dark:from-blue dark:to-blue blur-2xl opacity-25 dark:opacity-5 dark:group-hover:opacity-20"></div>
                    <div class="relative">
                        <h2 class="text-3xl font-bold text-gray-900 md:text-3xl dark:text-gray-700" >Continuous inventory tracking</h2>
                        <div class="mt-6 pb-6 rounded-b-[--card-border-radius]">
                            <p class="text-gray-700 dark:text-gray">Managing products, purchases, and inventory updates are among the key operational aspects of any successful business. The Inveep Platform system offers an integrated solution for these vital processes, focusing on facilitating and organizing product and purchase management efficiently
                            </p>
                        </div>
                    </div>
                </div>
                <!------------------------------------------------------------------>
                <div style="border-width: 0.3px;border-color: #44444499; padding: 50px;" class="relative group overflow-hidden  py-10 rounded-2xl bg-white dark:bg-[--card-dark-bg]">
                    <div aria-hidden="true" class="inset-0 absolute aspect-video border rounded-full -translate-y-1/4 group-hover:-translate-y-1/4 duration-300 bg-gradient-to-b from-blue to-blue dark:from-blue dark:to-blue blur-2xl opacity-25 dark:opacity-5 dark:group-hover:opacity-20"></div>
                    <div class="relative">
                        <h2 class="text-3xl font-bold text-gray-900 md:text-3xl dark:text-gray-700" >Effective sales management</h2>
                        <div class="mt-11 pb-6 rounded-b-[--card-border-radius]">
                            <p class="text-gray-700 dark:text-gray">Issuing electronic invoices, point of sale systems, and sales tracking are essential pillars in the sales and marketing operations of any business. The Inveep Platform system integrates these vital processes effectively, contributing to improving customer experience and enhancing Inveep management.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
