
<header
   [ngClass]="{
    'ud-header left-0 top-0 z-40 flex w-full items-center z-[999] bg-transparent': !sticky,
    'ud-header left-0 top-0 z-40 flex w-full items-center shadow-nav fixed z-[999]  bg-white/80 backdrop-blur-[5px] dark:border-dark-3/20 dark:bg-dark/10': sticky
  }"
>
<div class="container mx-auto">
  <div class="relative -mx-4 flex items-center justify-between"
  [ngClass]="{
    'py-8': !sticky,
    'py-5': sticky
  }"> 
  <div class="w-60 max-w-full px-4">
    <img src="" alt="INVEEP" />
  </div >
  <div class="flex w-full items-center justify-between px-4">
    <nav 
    
    class="hidden gap-8 md:flex ml-10">
    <a href="" class="text-white text-base hover:text-primary">
      Home
    </a>
    <a href="" class="text-white text-base hover:text-primary">
      Learn
    </a>
    <a href="" class="text-white text-base hover:text-primary">
      About
    </a>
    <a href="" class="text-white text-base hover:text-primary">
      Contact
    </a>
  </nav>
  <div class="hidden items-center md:flex">
    <p class="rounded-2xl border-2 border-white px-8 py-2 mr-6 text-white">
      Contact-us
    </p>
    <button
      [ngStyle]="{ boxShadow: '0px 0px 15px 0px #5eb6ae' }"
      class="rounded-2xl bg-gradient-to-r from-blue from-30% to-primary px-8 py-2 text-white"
    >
      Get started
    </button>
  </div>
  <div class="w-8 md:hidden">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/Hamburger_icon_white.svg/1024px-Hamburger_icon_white.svg.png"
      alt="navigation links button"
    />
  </div></div>
  </div>
</div>
 
</header>
