<section>
  <div class="mx-12 grid grid-cols-2">
    <div class="my-12 mr-[-5em] justify-items-start text-left xl:mt-28">
      <h1 class="line text-2xl font-bold leading-tight text-white xl:text-5xl">
        AI and Computer Vision
        <br />
        for Complete Business Management
      </h1>

      <p class="mb-8  mt-6 text-base text-white xl:mt-8 xl:text-2xl">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Feugiat nulla
        suspendisse tortor aenean dis placerat.
      </p>
      <button
        class="rounded-2xl bg-gradient-to-r from-blue from-30% to-primary px-8 py-2 text-white"
      >
        Start now
      </button>
      <button class="mx-2 xl:mx-4 rounded-2xl bg-gray-700 text-white px-8 py-2">
        About us ↗
      </button>
    </div>
    <div class="w-full xl:ml-12 pl-[10%] pt-14">
      <img class="" src="../../../assets/Apple Computers.svg" alt="vide" />
    </div>
  </div>
  <div class="flex flex-col  mb-6 items-center">
    <p class="text-md pb-4 font-extralight text-white lg:text-lg">
      Our amazing partners:
    </p>
    <img
      class="w-3/4"
      src="../../../assets/partnersList.svg"
      alt="Partners List"
    />
  </div>
</section>
