<div class="absolute h-screen w-full overflow-x-hidden">
    <div class="absolute left-[-7%] top-[22%] -z-10 h-1/5 w-1/5 rounded-full bg-primary blur-[5em] xl:blur-[10em]"></div>
    <div class="absolute right-[-7%] top-[50%] -z-10 h-1/5 w-1/5 rounded-full bg-primary blur-[5em] xl:blur-[10em]"></div>
    <div class="absolute bottom-0 left-[20%] -z-10 h-1/5 w-1/5 rounded-full bg-blue blur-[6em] xl:blur-[10em]"></div>
</div>

<app-layout >
    <app-hero-section></app-hero-section>
    <app-features></app-features>
    <app-actions></app-actions>
    <app-contact></app-contact>
</app-layout>

