<div class="relative w-full min-h-screen overflow-x-hidden">
    <div class="absolute right-[-3%] top-[2%] -z-10 h-1/5 w-1/5 rounded-full bg-blue blur-[5em] xl:blur-[10em]"></div>
    <div class="absolute left-[-7%] top-[22%] -z-10 h-1/5 w-1/5 rounded-full bg-primary blur-[5em] xl:blur-[10em]"></div>
    <div class="absolute right-[-7%] top-[50%] -z-10 h-1/5 w-1/5 rounded-full bg-blue blur-[5em] xl:blur-[10em]"></div>
    <div class="absolute bottom-0 left-[20%] -z-10 h-1/5 w-1/5 rounded-full bg-primary blur-[6em] xl:blur-[10em]"></div>
   <!-- <div class="absolute right-[-7%] top-[40%] -z-10 h-1/5 w-1/5 rounded-full bg-primary blur-[5em] xl:blur-[10em]"></div>
    <div class="absolute bottom-0 left-[18%] -z-10 h-1/5 w-1/5 rounded-full bg-blue blur-[6em] xl:blur-[10em]"></div> -->
  
    <div class="relative z-10">
      <app-layout>
        <app-hero-section></app-hero-section>
        <app-promo></app-promo>
        <app-solution></app-solution>
        <app-testimonials></app-testimonials>
        

      </app-layout>
    </div>
  
  </div>
  